* {
    padding:0;
    margin:0;
}


.myForm {
    width:50%;
    margin: auto;
    padding: 20px;
}

.form-sect {
    background-color: rgb(236, 234, 234);
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
label {
    color: grey;
    max-width: 100px;

}
input {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px;
    min-width: 100px;
    
}

.form-details {
    margin-top: 20px;
    text-align: center;
    border: 1px solid lightgray;
}

.det-sect {
    text-align:left;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted grey;
}

.col-25 {
    float: left;
    width: 25%;
}

.col-75 {
    float: left;
    width: 75%;
}

@media screen and (max-width: 800px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        /* width: 100%; */
        margin-top: 0;
        display: block;
    }
}